@page "/pool/{Id:int}"

@inject IService<PoolDto, PoolCreateDto, PoolUpdateDto> PoolService
@inject NavigationManager NavigationManager
@inject IMapper _mapper

<EditForm Model="pool" class="form-group" OnSubmit="HandleSubmit">

    <div class="row mt-5 ">
        <div class="col-12 col-md-3 border border-dark rounded shadow-sm  mx-auto ">
            <div class="form-group">
                <h2>Pool</h2>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="pool.SizeId" id="floatingInput" placeholder="Size id"></InputNumber>
                <label for="floatingInput">Size id</label>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="pool.TotalCapacity" id="CapacityInput" placeholder="Total capacity"></InputNumber>
                <label for="CapacityInput">Total capacity</label>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="pool.Temperature" id="TemperatureInput" placeholder="Temperature"></InputNumber>
                <label for="TemperatureInput">Temperature</label>
            </div>
            <div class="form-floating mb-3 text-center">
                <button class="btn btn-primary" type="submit">@buttonName</button>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }

    public string? buttonName { get; set; } = "Edit";
    PoolUpdateDto pool = new PoolUpdateDto();


    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await PoolService.GetByIdAsync((int)Id);

            if (result is not null)
            {
                pool = _mapper.Map<PoolUpdateDto>(result);
                Console.WriteLine(pool);
            }
            else
            {
                NavigationManager.NavigateTo("/pool_poolsize");
            }
        }
    }
    private async Task HandleSubmit()
    {
        if (Id is not null)
        {
            await PoolService.UpdateAsync(pool);
            Console.WriteLine(pool.Temperature);
        }
        NavigationManager.NavigateTo("/pool_poolsize");
    }


}
