@page "/subtype/{id:int}"
@attribute [Authorize]

@inject IService<SubTypeDto, SubTypeCreateDto, SubTypeUpdateDto> SubTypeService
@inject NavigationManager NavigationManager
@inject IMapper _mapper
@inject AuthorizeAdmin AuthorizeAdmin

<EditForm Model="subType" class="form-group" OnSubmit="HandleSubmit">
    <div class="row mt-5 ">
        <div class="col-12 col-md-3 border border-dark rounded shadow-sm  mx-auto ">
            <div class="form-group">
                <h2>SubType</h2>
            </div>
            <div class="form-floating mb-3">
                <InputText class="form-control" @bind-Value="subType.Title" id="TitleInput" placeholder="Title"/>
                <label for="TitleInput">Title</label>
            </div>

            <div class="form-floating mb-3">
               <InputNumber TValue="int" class="form-control" @bind-Value="subType.Price" id="PriceInput" placeholder="Price"/>
                <label for="PriceInput">Price</label>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="subType.Days" id="PriceInput" placeholder="Price" />
                <label for="PriceInput">Days</label>
            </div>
            <div class="form-floating mb-3 text-center">
                <button class="btn btn-primary" type="submit">Edit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
    public SubTypeUpdateDto subType = new SubTypeUpdateDto();
    protected override async Task OnParametersSetAsync()
    {
        if (!await AuthorizeAdmin.CheckUserRole()) 
            return;
        if (Id is not null)
        {
            var result = await SubTypeService.GetByIdAsync((int)Id);
            if (result is not null)
            {
                subType = _mapper.Map<SubTypeUpdateDto>(result);
            }
            else
            {
                NavigationManager.NavigateTo("/sub-subtypes");
            }
        }
    }
    private async Task HandleSubmit()
    {
        if (Id is not null)
        {
            await SubTypeService.UpdateAsync(subType);
        }
        NavigationManager.NavigateTo("/sub-subtypes");
    }
}
