@inherits LayoutComponentBase

<div class="page">
    <div class="top-nav">
        <NavigateMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    main {
        margin-top: 60px; 
    }
</style>