@page "/reservation/admin/create"
@attribute [Authorize]

@inject IService<ReservationDto, ReservationCreateDto, ReservationUpdateDto> ReservationService
@inject NavigationManager NavigationManager
@inject IMapper _mapper
@inject AuthorizeAdmin AuthorizeAdmin


<EditForm Model="reservation" class="form-group" OnSubmit="HandleSubmit">
    <div class="row mt-5 ">
        <div class="col-12 col-md-3 border border-dark rounded shadow-sm  mx-auto ">
            <div class="form-group">
                <h2>Reservation</h2>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" id="SubscriptionIdInput" @bind-Value="reservation.SubscriptionId" placeholder="Subscription id"></InputNumber>
                <label for="SubscriptionIdInput">Subscription id</label>
            </div>
            <div class="form-floating mb-3">
                <InputDate TValue="DateTime" class="form-control" id="DateInput" @bind-Value="reservation.Date" placeholder="Date"></InputDate>
                <label for="DateInput">Date</label>
            </div>

            <div class="form-floating mb-3 text-center">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
            
        </div>
    </div>
</EditForm>

@code {
    public ReservationCreateDto reservation = new ReservationCreateDto();
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthorizeAdmin.CheckUserRole()) 
            return;
    }
    private async Task HandleSubmit()
    {
        await ReservationService.AddAsync(reservation);
        NavigationManager.NavigateTo("/reservation");
    }
}
