@page "/role/create"
@attribute [Authorize]

@inject IService<RoleDto, RoleCreateDto, RoleUpdateDto> RoleService
@inject NavigationManager NavigationManager
@inject IMapper _mapper
@inject AuthorizeAdmin AuthorizeAdmin

<EditForm Model="role" class="form-group" OnSubmit="HandleSubmit">
    <div class="row mt-5 ">
        <div class="col-12 col-md-3 border border-dark rounded shadow-sm  mx-auto ">
            <div class="form-group">
                <h2>Role</h2>
            </div>
            <div class="form-floating mb-3">
                <InputText class="form-control" @bind-Value="role.Title" id="RoleInput" placeholder="Role name"/>
                <label for="RoleInput">Role</label>
            </div>
            <div class="form-floating mb-3 text-center">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public RoleCreateDto role = new RoleCreateDto();
    protected override async Task OnInitializedAsync()
    {
        await AuthorizeAdmin.CheckUserRole();
    }
    private async Task HandleSubmit()
    {
        await RoleService.AddAsync(role);
        NavigationManager.NavigateTo("/role");
    }
}
