@page "/subtype/create"
@attribute [Authorize]

@inject IService<SubTypeDto, SubTypeCreateDto, SubTypeUpdateDto> SubTypeService
@inject NavigationManager NavigationManager
@inject IMapper _mapper
@inject AuthorizeAdmin AuthorizeAdmin

<EditForm Model="subType" class="form-group" OnSubmit="HandleSubmit">
    <div class="row mt-5 ">
        <div class="col-12 col-md-3 border border-dark rounded shadow-sm  mx-auto ">
            <div class="form-group">
                <h2>SubType</h2>
            </div>
            <div class="form-floating mb-3">
                <InputText class="form-control" @bind-Value="subType.Title" id="TitleInput" placeholder="Title" />
                <label for="TitleInput">Title</label>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="subType.Days" id="PriceInput" placeholder="Price" />
                <label for="PriceInput">Days</label>
            </div>
            <div class="form-floating mb-3">
                <InputNumber TValue="int" class="form-control" @bind-Value="subType.Price" id="PriceInput" placeholder="Price" />
                <label for="PriceInput">Price</label>
            </div>
            <div class="form-floating mb-3 text-center">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public SubTypeCreateDto subType = new SubTypeCreateDto();
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthorizeAdmin.CheckUserRole()) 
        return;
    }
    private async Task HandleSubmit()
    {
        await SubTypeService.AddAsync(subType);
        NavigationManager.NavigateTo("/admin/sub-subtypes");
    }
}
